<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <p>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email"/>
        <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red">
            <span *ngIf="loginForm.get('email')?.errors?.['required']"> O campo de email é obrigatório. </span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']"> Por favor, insira um email válido. </span>
        </span>
    </p>
    <p>
        <label for="password">Senha: </label>
        <input id="password" type="password" formControlName="password"/>
        <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
            <span *ngIf="loginForm.get('password')?.errors?.['required']"> A senha é obrigatória. </span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">  A senha deve ter no mínimo 6 caracteres. </span>
        </span>
    </p>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <button (click)="onReset()">Limpar</button>
</form>