<div
  class="d-flex flex-column justify-content-center align-items-center vh-100"
>
  <form
    id="login-form"
    class="p-4 border rounded shadow"
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()"
  >
    <h1 class="text-center mb-4">
        {{ isCadastro ? "Cadastro" : "Login" }}
    </h1>

    <div class="form-group mb-3" *ngIf="isCadastro">
      <label for="nome">
        Nome:
        <span
          *ngIf="
            loginForm.get('name')?.invalid && loginForm.get('name')?.touched
          "
        >
          <small
            id="nameMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('name')?.errors?.['required']"
          >
            (O campo nome é obrigatório.)
          </small>
          <small
            id="nameMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('name')?.errors?.['minlength']"
          >
            (O nome deve ter no mínimo 6 caracteres.)
          </small>
        </span>
      </label>
      <input
        id="name"
        class="form-control"
        aria-describedby="nameMessage"
        type="text"
        formControlName="name"
        placeholder="Insira seu nome"
      />
    </div>

    <div class="form-group mb-3">
      <label for="email">
        Email:
        <span
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          <small
            id="emailMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('email')?.errors?.['required']"
          >
            (O campo de email é obrigatório.)
          </small>
          <small
            id="emailMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('email')?.errors?.['email']"
          >
            (Por favor, insira um email válido.)
          </small>
          <small
            id="emailMesssage"
            class="form-text text-danger"
            *ngIf="loginForm.get('email')?.errors?.['emailDuplicado']"
          >
            (O email informado já está cadastrado.)
          </small>
        </span>
      </label>
      <input
        id="email"
        class="form-control"
        aria-describedby="emailMessage"
        type="email"
        formControlName="email"
        placeholder="Insira seu email"
      />
    </div>

    <div class="form-group mb-4">
      <label for="password">
        Senha:
        <span
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <small
            id="passwordMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('password')?.errors?.['required']"
          >
            (A senha é obrigatória.)
          </small>
          <small
            id="passwordMessage"
            class="form-text text-danger"
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >
            (A senha deve ter no mínimo 6 caracteres.)
          </small>
        </span>
      </label>
      <input
        id="password"
        class="form-control"
        aria-describedby="passwordMessage"
        type="password"
        formControlName="password"
        placeholder="Insira sua senha"
      />
    </div>

    <div
      class="container-fluid d-flex justify-content-center align-items-center gap-2 mb-2"
    >
      <button
        class="btn btn-primary w-50"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        {{ isCadastro ? "Cadastrar-se" : "Entrar" }}
      </button>
      <button class="btn btn-secondary w-50" type="button" (click)="onReset()">
        Limpar
      </button>
    </div>

    <hr class="border-secondary my-4 w-100 mx-auto">

    <div
      class="container-fluid d-flex justify-content-center align-items-center"
    >
      <p class="me-2 mb-0">{{ isCadastro ? "Já possui conta?" : "Não possui conta?"}}</p>
      <button class="btn btn-info" (click)="toggleMode()">{{ isCadastro ? "Fazer login" : "Cadastrar-se"}}</button>
    </div>
  </form>
</div>
